.profile-pic {
	width: 100%;
}

h1 {
	font-family: ariel;
	font-weight: bold;
	color: grey;
}

h5 {
	font-family: courier new;
	color: grey
}

h4 {
	font-family: courier new;
	color: white
}

body { 
  background: url(https://i.pinimg.com/originals/59/96/d2/5996d2cfcea828cf82835a41117b9bcd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me-text {
	color: white
}